# Redis
REDIS_CONTAINER_NAME=ranking-redis
REDIS_IMAGE=redis:7
REDIS_INTERNAL_PORT=6379
REDIS_EXTERNAL_PORT=6379
REDIS_DB=0

# Ranking Service
RANKING_SERVICE_CONTAINER_NAME=ranking-service
RANKING_SERVICE_IMAGE=ranking-service:latest
PORT=8000
WORKERS=4
REDIS_HOST=redis
REDIS_PORT=6379
